<h1>Video List</h1>

<ul class="video-list">
<% @videos.each do |video| %>
  <li class="video"s>
    <div class="thumbnail">
      <a class="video-link" href="/videos/<%= video[:_id] %>"><img src="<%= video[:thumbnails].first[:url] %>"></a>
      <span class="duration"><%= video[:nice_duration] %></span>
    </div>
    <div class="info">
      <p class="title"><a class="video-link" href="/videos/<%= video[:_id] %>"><%= video[:title] %></a></p>
    </div>
  </li>
<% end %>
</ul>