<!DOCTYPE html>
<html>
  <head>
    <title>ZypeVideoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo"><img src="https://1wyo4j2clpiy1tn1rufbc1j6-wpengine.netdna-ssl.com/wp-content/uploads/Zype-LogeWhite.png"></div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
